{# /contact/index.html.twig #}
{% extends 'base.html.twig' %}
{% form_theme contactForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}

    <h1 style="text-align: center">Contact</h1>

    <div class="container">
        <div class="form-group">
            {{ form_start(contactForm) }}

            {{ form_errors(contactForm) }}

            {{ form_label(contactForm.lastName) }}
            {{ form_widget(contactForm.lastName) }}
            {{ form_errors(contactForm.lastName) }}

            {{ form_label(contactForm.firstName) }}
            {{ form_widget(contactForm.firstName) }}
            {{ form_errors(contactForm.firstName) }}

            {{ form_label(contactForm.email) }}
            {{ form_widget(contactForm.email) }}
            {{ form_errors(contactForm.email) }}

            {{ form_label(contactForm.subject) }}
            {{ form_widget(contactForm.subject) }}
            {{ form_errors(contactForm.subject) }}

            {{ form_label(contactForm.message) }}
            {{ form_widget(contactForm.message) }}
            {{ form_errors(contactForm.message) }}

            <br>

            <button class="btn btn-success">Envoyer</button>

            {{ form_end(contactForm) }}
        </div>
    </div>



{% endblock %}